Examples/output/v0.0.1/Aria/Aria.xsd



<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  
  xmlns:self="http://foo.bar/"
  targetNamespace="http://foo.bar/">
  <!-- VERSION: 0.0.1 -->
  <xsd:simpleType name="XP">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="9999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="BoughtFrom">
    <xsd:choice>
      <xsd:element name="Racial Package"/>
      <xsd:element name="Professional Package"/>
      <xsd:element name="XP"/>
      <xsd:element name="Gift"/>
      <xsd:element name="Other"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Stat">
    <xsd:choice>
      <xsd:element type="self:Strength" name="Stat_Strength" />
      <xsd:element type="self:Agility" name="Stat_Agility" />
      <xsd:element type="self:Intuition" name="Stat_Intuition" />
      <xsd:element type="self:Perception" name="Stat_Perception" />
      <xsd:element type="self:Charisma" name="Stat_Charisma" />
      <xsd:element type="self:None" name="Stat_None" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:element name="Namable_Name" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Namable_Description" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:complexType name="Namable">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element ref="self:Namable_Name" minOccurs="1" />
      <xsd:element ref="self:Namable_Description" minOccurs="1" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Buyable_Source" type="self:BoughtFrom" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Buyable_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Buyable_Bought" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Buyable_Skilled" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Buyable_Professional" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Buyable_Master" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:complexType name="Buyable">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element ref="self:Buyable_Source" minOccurs="1" />
      <xsd:element ref="self:Buyable_Stat" minOccurs="1" />
      <xsd:element ref="self:Buyable_Bought" minOccurs="1" />
      <xsd:element ref="self:Buyable_Skilled" minOccurs="1" />
      <xsd:element ref="self:Buyable_Professional" minOccurs="1" />
      <xsd:element ref="self:Buyable_Master" minOccurs="1" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Skill_Name" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Skill_Description" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Skill_Source" type="self:BoughtFrom" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Skill_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Skill_Bought" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Skill_Skilled" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Skill_Professional" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Skill_Master" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:complexType name="Skill">
    <xsd:annotation>
      <xsd:documentation>A skill is something a character can do</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element ref="self:Skill_Name" minOccurs="1" />
      <xsd:element ref="self:Skill_Description" minOccurs="1" />
      <xsd:element ref="self:Skill_Source" minOccurs="1" />
      <xsd:element ref="self:Skill_Stat" minOccurs="1" />
      <xsd:element ref="self:Skill_Bought" minOccurs="1" />
      <xsd:element ref="self:Skill_Skilled" minOccurs="1" />
      <xsd:element ref="self:Skill_Professional" minOccurs="1" />
      <xsd:element ref="self:Skill_Master" minOccurs="1" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Resistance_Name" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Resistance_Description" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Resistance_Source" type="self:BoughtFrom" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Resistance_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Resistance_Bought" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Resistance_Skilled" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Resistance_Professional" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Resistance_Master" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:complexType name="Resistance">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element ref="self:Resistance_Name" minOccurs="1" />
      <xsd:element ref="self:Resistance_Description" minOccurs="1" />
      <xsd:element ref="self:Resistance_Source" minOccurs="1" />
      <xsd:element ref="self:Resistance_Stat" minOccurs="1" />
      <xsd:element ref="self:Resistance_Bought" minOccurs="1" />
      <xsd:element ref="self:Resistance_Skilled" minOccurs="1" />
      <xsd:element ref="self:Resistance_Professional" minOccurs="1" />
      <xsd:element ref="self:Resistance_Master" minOccurs="1" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Special_Name" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Special_Description" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Special_Source" type="self:BoughtFrom" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Special_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Special_Bought" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Special_Skilled" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Special_Professional" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Special_Master" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"></xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:complexType name="Special">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element ref="self:Special_Name" minOccurs="1" />
      <xsd:element ref="self:Special_Description" minOccurs="1" />
      <xsd:element ref="self:Special_Source" minOccurs="1" />
      <xsd:element ref="self:Special_Stat" minOccurs="1" />
      <xsd:element ref="self:Special_Bought" minOccurs="1" />
      <xsd:element ref="self:Special_Skilled" minOccurs="1" />
      <xsd:element ref="self:Special_Professional" minOccurs="1" />
      <xsd:element ref="self:Special_Master" minOccurs="1" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Feat_Rank" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1" />
        <xsd:maxInclusive value="9999" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Feat_XP" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1" />
        <xsd:maxInclusive value="9999" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Feat_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Feat_Name" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Feat_Description" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:complexType name="Feat">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element ref="self:Feat_Rank" minOccurs="1" />
      <xsd:element ref="self:Feat_XP" minOccurs="1" />
      <xsd:element ref="self:Feat_Stat" minOccurs="1" />
      <xsd:element ref="self:Feat_Name" minOccurs="1" />
      <xsd:element ref="self:Feat_Description" minOccurs="1" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Statistic_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Statistic_Description" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Statistic_XP" type="self:XP" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Statistic_Value" nillable="false">
    <xsd:annotation>
      <xsd:documentation>This is XP / 10 and rounded up</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1" />
        <xsd:maxInclusive value="9999" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:complexType name="Statistic">
    <xsd:annotation>
      <xsd:documentation>A statistic is a base value for a character's potential Statistics serve as a base bonus for certain abilities.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element ref="self:Statistic_Stat" minOccurs="1" />
      <xsd:element ref="self:Statistic_Description" minOccurs="1" />
      <xsd:element ref="self:Statistic_XP" minOccurs="1" />
      <xsd:element ref="self:Statistic_Value" minOccurs="1" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Character_Name" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1" />
        <xsd:maxLength value="100" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Character_Skills" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element type="self:Skill" name="foo" minOccurs="0" maxOccurs="100" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Character_Specials" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element type="self:Special" name="foo" minOccurs="0" maxOccurs="100" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Character_Feats" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element type="self:Feat" name="foo" minOccurs="0" maxOccurs="100" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Character_Strength" type="self:Statistic" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Character_Agility" type="self:Statistic" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Character_Intuition" type="self:Statistic" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Character_Perception" type="self:Statistic" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Character_Charisma" type="self:Statistic" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Character">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element ref="self:Character_Name" minOccurs="1" />
      <xsd:element ref="self:Character_Skills" minOccurs="1" />
      <xsd:element ref="self:Character_Specials" minOccurs="1" />
      <xsd:element ref="self:Character_Feats" minOccurs="1" />
      <xsd:element ref="self:Character_Strength" minOccurs="1" />
      <xsd:element ref="self:Character_Agility" minOccurs="1" />
      <xsd:element ref="self:Character_Intuition" minOccurs="1" />
      <xsd:element ref="self:Character_Perception" minOccurs="1" />
      <xsd:element ref="self:Character_Charisma" minOccurs="1" />
    </xsd:all>
  </xsd:complexType>
</xsd:schema>
  
  