Examples/output/v0.0.1/Aria/Aria.xsd



<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  
  xmlns:self="http://foo.bar/"
  targetNamespace="http://foo.bar/">
  <!-- VERSION: 0.0.1 -->
  <xsd:complexType name="List">
    <xsd:annotation></xsd:annotation>
    <xsd:all></xsd:all>
  </xsd:complexType>
  <xsd:simpleType name="XP">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="9999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="BoughtFrom">
    <xsd:choice>
      <xsd:element name="Racial Package"/>
      <xsd:element name="Professional Package"/>
      <xsd:element name="XP"/>
      <xsd:element name="Gift"/>
      <xsd:element name="Other"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Stat">
    <xsd:choice>
      <xsd:element type="self:Strength" name="Stat_Strength" />
      <xsd:element type="self:Agility" name="Stat_Agility" />
      <xsd:element type="self:Intuition" name="Stat_Intuition" />
      <xsd:element type="self:Perception" name="Stat_Perception" />
      <xsd:element type="self:Charisma" name="Stat_Charisma" />
      <xsd:element type="self:None" name="Stat_None" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Namable">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element name="Name" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Description" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Buyable_Source" type="self:BoughtFrom" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Buyable_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Buyable">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element name="Bought" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Skilled" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Professional" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Master" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Skill_Source" type="self:BoughtFrom" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Skill_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Skill">
    <xsd:annotation>
      <xsd:documentation>A skill is something a character can do</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="Name" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Description" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Bought" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Skilled" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Professional" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Master" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Resistance_Source" type="self:BoughtFrom" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Resistance_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Resistance">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element name="Name" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Description" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Bought" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Skilled" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Professional" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Master" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Special_Source" type="self:BoughtFrom" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Special_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Special">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element name="Name" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Description" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Bought" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Skilled" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Professional" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Master" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Feat_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Feat">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element name="Rank" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="9999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="XP" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="9999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Name" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Description" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="Something">
    <xsd:annotation></xsd:annotation>
    <xsd:all></xsd:all>
  </xsd:complexType>
  <xsd:element name="Statistic_Stat" type="self:Stat" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Statistic_XP" type="self:XP" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Statistic">
    <xsd:annotation>
      <xsd:documentation>A statistic is a base value for a character's potential Statistics serve as a base bonus for certain abilities.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="Description" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Value" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="9999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Character_Skills" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element type="self:Skill" name="foo" minOccurs="0" maxOccurs="100" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Character_Specials" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element type="self:Special" name="foo" minOccurs="0" maxOccurs="100" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Character_Feats" nillable="false">
    <xsd:annotation></xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element type="self:Feat" name="foo" minOccurs="0" maxOccurs="100" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Character_Strength" type="self:Statistic" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Character_Agility" type="self:Statistic" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Character_Intuition" type="self:Statistic" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Character_Perception" type="self:Statistic" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:element name="Character_Charisma" type="self:Statistic" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Character">
    <xsd:annotation></xsd:annotation>
    <xsd:all>
      <xsd:element name="Name" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation></xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
</xsd:schema>
  
  