Examples/output/v0.0.1/DDD/DDD.xsd



<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  
  xmlns:self="http://something.com"
  targetNamespace="http://something.com">
  <!-- VERSION: 0.0.0 -->
  <xsd:element name="Person_Address" type="self:Address" nillable="false">
    <xsd:annotation></xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Person">
    <xsd:all>
      <xsd:element ref="self:Person_Address" minOccurs="1"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="Address">
    <xsd:all></xsd:all>
  </xsd:complexType>
</xsd:schema>
  
  