Examples/.out/Aria/Aria.xsd



<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:self="something.com">
<xsd:element name="Namable_Name">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Namable_Description">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>

    <xsd:complexType name="Namable">
        <xsd:sequence>
        <xsd:element ref="self:Namable_Name" />
<xsd:element ref="self:Namable_Description" />
        </xsd:sequence>
    </xsd:complexType>
<xsd:element name="Buyable_Source">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Buyable_Stat">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Buyable_Bought">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Buyable_Skilled">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Buyable_Professional">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Buyable_Master">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>

    <xsd:complexType name="Buyable">
        <xsd:sequence>
        <xsd:element ref="self:Buyable_Source" />
<xsd:element ref="self:Buyable_Stat" />
<xsd:element ref="self:Buyable_Bought" />
<xsd:element ref="self:Buyable_Skilled" />
<xsd:element ref="self:Buyable_Professional" />
<xsd:element ref="self:Buyable_Master" />
        </xsd:sequence>
    </xsd:complexType>
<xsd:element name="Skill_Name">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Skill_Description">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Skill_Source">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Skill_Stat">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Skill_Bought">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Skill_Skilled">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Skill_Professional">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Skill_Master">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>

    <xsd:complexType name="Skill">
        <xsd:sequence>
        <xsd:element ref="self:Skill_Name" />
<xsd:element ref="self:Skill_Description" />
<xsd:element ref="self:Skill_Source" />
<xsd:element ref="self:Skill_Stat" />
<xsd:element ref="self:Skill_Bought" />
<xsd:element ref="self:Skill_Skilled" />
<xsd:element ref="self:Skill_Professional" />
<xsd:element ref="self:Skill_Master" />
        </xsd:sequence>
    </xsd:complexType>
<xsd:element name="Resistance_Name">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Resistance_Description">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Resistance_Source">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Resistance_Stat">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Resistance_Bought">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Resistance_Skilled">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Resistance_Professional">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Resistance_Master">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>

    <xsd:complexType name="Resistance">
        <xsd:sequence>
        <xsd:element ref="self:Resistance_Name" />
<xsd:element ref="self:Resistance_Description" />
<xsd:element ref="self:Resistance_Source" />
<xsd:element ref="self:Resistance_Stat" />
<xsd:element ref="self:Resistance_Bought" />
<xsd:element ref="self:Resistance_Skilled" />
<xsd:element ref="self:Resistance_Professional" />
<xsd:element ref="self:Resistance_Master" />
        </xsd:sequence>
    </xsd:complexType>
<xsd:element name="Special_Name">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Special_Description">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Special_Source">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Special_Stat">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Special_Bought">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Special_Skilled">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Special_Professional">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Special_Master">
        <xsd:simpleType>
        <xsd:restriction base="xsd:boolean">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>

    <xsd:complexType name="Special">
        <xsd:sequence>
        <xsd:element ref="self:Special_Name" />
<xsd:element ref="self:Special_Description" />
<xsd:element ref="self:Special_Source" />
<xsd:element ref="self:Special_Stat" />
<xsd:element ref="self:Special_Bought" />
<xsd:element ref="self:Special_Skilled" />
<xsd:element ref="self:Special_Professional" />
<xsd:element ref="self:Special_Master" />
        </xsd:sequence>
    </xsd:complexType>
<xsd:element name="Feat_Rank">
        <xsd:simpleType>
        <xsd:restriction base="xsd:integer">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Feat_XP">
        <xsd:simpleType>
        <xsd:restriction base="xsd:integer">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Feat_Stat">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Feat_Name">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Feat_Description">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>

    <xsd:complexType name="Feat">
        <xsd:sequence>
        <xsd:element ref="self:Feat_Rank" />
<xsd:element ref="self:Feat_XP" />
<xsd:element ref="self:Feat_Stat" />
<xsd:element ref="self:Feat_Name" />
<xsd:element ref="self:Feat_Description" />
        </xsd:sequence>
    </xsd:complexType>
<xsd:element name="Statistic_Stat">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Statistic_Description">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Statistic_XP">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Statistic_Value">
        <xsd:simpleType>
        <xsd:restriction base="xsd:integer">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>

    <xsd:complexType name="Statistic">
        <xsd:sequence>
        <xsd:element ref="self:Statistic_Stat" />
<xsd:element ref="self:Statistic_Description" />
<xsd:element ref="self:Statistic_XP" />
<xsd:element ref="self:Statistic_Value" />
        </xsd:sequence>
    </xsd:complexType>
<xsd:element name="Character_Name">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Character_Skills">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Character_Specials">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Character_Feats">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Character_Strength">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Character_Agility">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Character_Intuition">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Character_Perception">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
<xsd:element name="Character_Charisma">
        <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            
        </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>

    <xsd:complexType name="Character">
        <xsd:sequence>
        <xsd:element ref="self:Character_Name" />
<xsd:element ref="self:Character_Skills" />
<xsd:element ref="self:Character_Specials" />
<xsd:element ref="self:Character_Feats" />
<xsd:element ref="self:Character_Strength" />
<xsd:element ref="self:Character_Agility" />
<xsd:element ref="self:Character_Intuition" />
<xsd:element ref="self:Character_Perception" />
<xsd:element ref="self:Character_Charisma" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
  
  